# Puerto en el que corre el servidor
PORT=3000

# Conexión a MongoDB (opcional, si no se provee se usará un almacenamiento en memoria)
# MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/montecastro

# API Keys para la Fase 2 (opcionales: si no se configuran, se usará simulación local)
# OWM_API_KEY=26b991579346c152a94c43760777895f
# ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImRlY2VkODNjMTEwMDQyMWNiOTEyZTgyNWUxMjFmMTkwIiwiaCI6Im11cm11cjY0In0=
